<!-- Page Content -->
    <div class="container"  ng-controller="AccordionDemoCtrl">
        
        <div class="row margin-bottom10">
            <div class="col-lg-12">
                <h3>Symptoms</h3>
            </div>
            <div class="clearfix"></div>
            
        </div>
        
       
        <div class="row margin-bottom10">
            <div class="col-lg-8">
               <label class="control-label"></label>
               <div class="clearfix"></div>
               <button ng-click="status.open = !status.open" class="btn btn-success add-activity"><i class="fa fa-plus margin-right5"></i>Add New</button>
            </div>
            
            
            <div class="col-lg-2">
                <label class="control-label">Search by keywords:</label>
                <div class="clearfix"></div>
                <input type="text" class="form-control search-width-125" placeholder="Search and Filter"  ng-model="query">    
  
            </div>
            
            <div class="col-lg-2">
                <div class="form-group">
                        <label class="control-label"></label>
                        <div class="clearfix"></div>
                        <div class="search-btns margin-top5 pull-right">
                        <button type="button" class="btn btn-primary margin-right5">Search</button>
                        <button type="button" class="btn btn-default">Reset</button>
                        </div>
                  </div>
                 
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="row">
         <div class="col-md-12" ng-controller="AddSymptomsCtrl">      
           <table class="table table-bordered table-striped">
            <thead>
                  <tr>
                   
                    <th class="text-center">ID</th>
                    <th class="text-center">Symptom Name<span class="fa fa-caret-up pull-right cursor-pointer"></span> <span class="pull-right cursor-pointer fa fa-caret-down table-sort-down"></span></th>
                    
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in data | filter:query">
                    
                    <td class="text-center">{{item.id}}</td>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary action-btn"><span class="fa fa-edit"> </span>Edit</button>
                       
                        <button type="button" class="btn btn-danger action-btn"><span class="fa fa-close"> </span>Delete</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>      
          </div>
          
 
 <accordion>
    
    <accordion-group is-open="status.open">
        <accordion-heading>
            Add Symptoms <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-up': !status.open}"></i>
        </accordion-heading>
        
            <form class="form-horizontal" role="form" id="patient_registration">
            
            <div class="col-lg-6">
               
                  
                  <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="fname">Symptom:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                    
                
            </div>

            <div class="col-md-6">
               
                  
            </div>
            
            <div class="clearfix"></div>
          
           
            
             <div class="col-sm-12">
        
                <div class="form-group">
                   
                     <div class="col-sm-8 col-sm-offset-2">
                      <button type="submit" class="btn btn-primary">Add</button>
                      <button type="submit" class="btn btn-default">Reset</button>
                     </div>
                 <div class="clearfix"></div>
               </div>

                <div class="clearfix"></div>

            </div> 
        
            
      
       
            
       </form> 
        
        
    </accordion-group>
  </accordion>         


    </div>
    <!-- /.container -->


    <script src="js/bootstrap-datetimepicker.js"></script> 
    <script src="js/bootstrap-datepicker.js"></script> 
    
    <script src="js/bootstrap-switch.min.js"></script> 
   
    
     <script src="js/script.js"></script> 
    
    <script type="application/javascript">
        
        $('#collapsetwo').collapse('hide');
        
         var targetDate =  $('.targetDate');

        if(targetDate){

            $('.targetDate').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });

        }
        
        
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });

$('input[name="my-checkbox4"]').on('switchChange.bootstrapSwitch', function(event, state) {
//  console.log(this); // DOM element
//  console.log(event); // jQuery event
//  console.log(state); // true | false
    
    if(state == true ) {
        $('#ifhospitalyes').css('display','block');
        
    }else{
        $('#ifhospitalyes').css('display','none');
    }
    
    
});
        
function toggleChevron(e) {
$(e.target)
    .prev('.panel-heading')
    .find("i.indicator")
    .toggleClass('fa-chevron-down fa-chevron-up');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);
        
 $(document).on('click', '.add-activity', function(){

           $('#collapsetwo').collapse('show');
           $("body, html").animate({ 
                    scrollTop: $( $(this).attr('href') ).offset().top -140
                }, 500);     
 
            });        
           
     
</script>


