<div class="container">

        <div class="row">
            <h3 class="text-center margin-bottom20">Change Password</h3>
            <!-- Blog Post Content Column -->
            <div class="col-lg-4 col-lg-offset-4 well margin-top20 signuppage">
               
               
                <div class="form-group">
                  <label for="pwd">New Password:<span class='fa fa-asterisk required-star'></span></label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
        
                <div class="form-group">
                  <label for="pwd">Confirm Password:<span class='fa fa-asterisk required-star'></span></label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter confirm password">
                </div>  
      

               <div class="form-group">
                <a href="#/home" class="btn btn-primary center-block">Submit</a>
               </div>    

               
                

                              

            </div>

            <!-- Blog Sidebar Widgets Column -->
            

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; xcendant 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
   