 <!-- Page Content -->
    <div class="container" ng-controller="SecuredHomeCtrl">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8 register-tiles">

               
                <div class="row">

                    <div class="col-xs-6 col-md-3">
                        <a href="profile" class="thumbnail text-center">
                            <div class="clearfix"></div>
                            <i class="fa  fa-user  fa-lg"></i>
                            <div class="clearfix"></div>
                            View Profile
                        </a>
                    </div>

                    
                  <div class="col-xs-6 col-md-3">
                    <a href="patient" class="thumbnail text-center">
                      <div class="clearfix"></div>
                      <i class="fa  fa-heart  fa-lg"></i>
                      <div class="clearfix"></div>
                        Register as a Patient
                    </a>
                  </div>
                    
                  <div class="col-xs-6 col-md-3">
                    <a href="doctor_registration" class="thumbnail text-center">
                      <i class="fa fa-user-md fa-lg"></i>
                        <div class="clearfix"></div>
                        Register as a Doctor
                    </a>
                  </div>
                    
                  <div class="col-xs-6 col-md-3">
                    <a href="caretaker" class="thumbnail text-center">
                      <i class="fa   fa-gratipay fa-lg"></i>
                        <div class="clearfix"></div>
                        Register as a Caregiver
                    </a>
                  </div>
                   
                   
                    
                   
                    
                 
                </div>
                
                
                
                <div class="row">

                    <div class="col-xs-6 col-md-3">
                        <a href="activity_management" class="thumbnail text-center">
                            <i class="fa  fa-list-ul fa-lg"></i>
                            <div class="clearfix"></div>
                            Activity Management
                        </a>
                    </div>


                  <div class="col-xs-6 col-md-3">
                    <a href="hospital_registration" class="thumbnail text-center">
                      <div class="clearfix"></div>
                      <i class="fa fa-plus-square fa-lg"></i>
                      <div class="clearfix"></div>
                        Hospital Registration
                    </a>
                  </div>
                    
                  <div class="col-xs-6 col-md-3">
                    <a href="approval_queue" class="thumbnail text-center">
                      <i class="fa  fa-check  fa-lg"></i>
                        <div class="clearfix"></div>
                        Approval Queue
                    </a>
                  </div>
                    
                  <div class="col-xs-6 col-md-3">
                    <a href="add_symptoms" class="thumbnail text-center">
                      <i class="fa  fa-heartbeat fa-lg"></i>
                        <div class="clearfix"></div>
                        Add Symptoms
                    </a>
                  </div>
                   
                   
                    
                   
                    
                 
                </div>
                
                <div class="row">

                    <div class="col-xs-6 col-md-3">
                        <a href="add_bleed_location" class="thumbnail text-center">
                            <i class="fa   fa-male fa-lg"></i>
                            <div class="clearfix"></div>
                            Add Bleed Location
                        </a>
                    </div>


                  <div class="col-xs-6 col-md-3">
                    <a href="user_management" class="thumbnail text-center">
                      <div class="clearfix"></div>
                      <i class="fa fa-users fa-lg"></i>
                      <div class="clearfix"></div>
                        User Management
                    </a>
                  </div>
                    
                  <div class="col-xs-6 col-md-3">
                    <a href="treatment_center_registration" class="thumbnail text-center">
                      <div class="clearfix"></div>
                      <i class="fa fa-university fa-lg"></i>
                      <div class="clearfix"></div>
                        Treatment Center
                    </a>
                  </div>
                    
                   
                    
                 
                </div>
                
                
                
                

                              

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well login">
                    <div class="col-lg-12 profile-details-section text-center">
                        <!--img/user.png-->
                        
                    <img class="img-circle img-responsive img-center center-clock" ng-src="{{loggedInUser.pictureUrl}}" alt="">
                    <h3>Welcome {{loggedInUser.name}}</h3>
                   
                          

                    </div>
                    <div class="clearfix"></div>
                </div>


              
            </div>

        </div>
        <!-- /.row -->

        
    </div>
    <!-- /.container -->


    
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">Sign Up</h3>
      </div>
      <div class="modal-body">
          
         <div class="social-media-login-section">
            <h5>Sign in Social media</h5>
            
            <i class="fa fa-facebook-square fa-2 facebook-blue"></i>
            <i class="fa fa-google-plus-square fa-2 google-plus-red"></i>
            <i class="fa  fa-twitter-square fa-2 twitter-blue"></i>



        </div> 
          
          
        <div class="form-group">
          <div class="col-lg-6 padding-l-0">
          <label for="fname">First Name:</label>
          <input type="fname" class="form-control" id="email" placeholder="Enter First Name">
          </div>  
            
            
          <div class="col-lg-6 padding-r-0">    
          
          <label for="lname">Last Name:</label>
          <input type="lname" class="form-control" id="email" placeholder="Enter Last Name">  
       
         <div class="clearfix"></div>
            
          </div>  
            
             <div class="clearfix"></div>
          </div>  
          
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
          
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        
        <div class="form-group">
          <label for="pwd">Confirm Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter confirm password">
        </div>  
      
        
      </div>
        
      <div class="modal-footer">
          
        
        <button type="button" class="btn btn-primary center-block col-lg-12">Sign in</button>
      </div>
    </div>
  </div>
</div>