  <!-- Page Content -->
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <h3>Patient Registration</h3>
            </div>
            <div class="clearfix"></div>
            
            
        </div>
        
        <div class="row">
            
          
            <!-- Blog Post Content Column -->
            <form class="form-horizontal" role="form" id="patient_registration" ng-controller="PatientController as patientCtrl">
            
            
            <div class="col-lg-12">
                <h4>Patient Details</h4>
                <hr>
                <div class="clearfix"></div>
            </div>
            
            <div class="clearfix"></div>

            <div class="col-lg-12">
                <div class="form-group" ng-hide="isNewPatient">
                    <label class="control-label col-sm-2 text-right" for="patientID">Patient ID:</label>
                    <div class="col-sm-10">
                        <label class="control-label" for="patientID">{{patient.Id}}</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-6">

                <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="typeofHe">Type of Hemophilia:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8">
                      
                      <select class="form-control required-input" ng-model="patient.hemophiliaType">
                           <option value="" disabled selected class="hidden">Select the type of Hemophilia</option>
                           <option value="A">Type A</option>
                           <option value="B">Type B</option>
                         
                       </select>
                       
                    </div>
                  </div>
                  
                  
            </div>
            
             <div class="col-lg-6">
                
                 <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="severity">Severity:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8">
                      
                      <select class="form-control required-input" ng-model="patient.hemophiliaServity">
                           <option value="" disabled selected class="hidden">Select the Severity</option>
                           <option value="MILD">Mild</option>
                           <option value="MODERATE">Moderate</option>
                           <option value="SEVERE">Servere</option>
                       </select>
                       
                    </div>
                  </div>
                 
                 
            </div>
            
            
            
            <div class="clearfix"></div>
            
            
            <div class="col-lg-12">
                <h4>Treatment  Details</h4>
                <hr>
                <div class="clearfix"></div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="typeofHe">Preferred Doctor:</label>
                    <div class="col-sm-8">
                      
                      <select class="form-control" id="Preferred-doctor" ng-options="doctor.fullName for doctor in doctors track by doctor.registeredUserId"
      ng-model="patient.counsultingDoctorId">
                           <option value="" disabled selected class="hidden">Select the Doctor</option>
                                                   
                       </select>
                       
                    </div>
                  </div>
                  
                
                  
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="typeofHe">Hospital:</label>
                    <div class="col-sm-8">
                      
                      <select class="form-control" ng-options="hospital.name for hospital in hospitals track by hospital.id"
      ng-model="patient.counsultingHospitalId">
                           <option  value="" disabled selected class="hidden">Select the Hospital</option>
                          
                         
                       </select>
                       
                    </div>
                  </div>
                  
                  
            </div>
            
             <div class="col-lg-6">
                
                 <div class="form-group">
                    <label class="control-label col-sm-4" for="severity">Caretacker:</label>
                    <div class="col-sm-8">
                      
                      <select class="form-control" ng-options="careGiver.name for careGiver in careGivers track by careGiver.id"
      ng-model="patient.counsultingcareGiverId">
                           <option value="" disabled selected class="hidden">Select the Caretacker</option>
                           
                       </select>
                       
                    </div>
                  </div>
                  
                   <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="typeofHe">Treatment Center:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8">
                      
                      <select class="form-control required-input" ng-options="treatmentCenter.name for treatmentCenter in treatmentCenters track by treatmentCenter.id"
      ng-model="patient.counsultingTreatmentCenterId">
                           <option value="" disabled selected class="hidden">Select the Treatment center</option>
                           
                         
                       </select>
                       
                    </div>
                  </div>
                 
                 
            </div>
            
            
            
             <div class="col-sm-12">
        
                <div class="form-group"> 
                     <div class="col-sm-12">
                      <button type="submit" class="btn btn-default pull-right">Reset</button>
                      <button type="submit" class="btn btn-primary pull-right margin-right5">Submit</button>
                      
                     </div>
                 <div class="clearfix"></div>
               </div>

                <div class="clearfix"></div>

            </div> 
        
            
          
        </div>
        
       
            
       </form>  