<!-- Page Content -->
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <h3>Treatment Center Registration</h3>
            </div>
            <div class="clearfix"></div>

        </div>
        
        
        <div class="row margin-bottom10">
            <div class="col-lg-8">
               <label class="control-label"></label>
               <div class="clearfix"></div>
               <button href="#collapsefour" type="button" class="btn btn-success add-treatmentcenter"><i class="fa fa-plus margin-right5"></i>Add New</button>
            </div>
            
            
            <div class="col-lg-2">
                <label class="control-label">Search by keywords:</label>
                <div class="clearfix"></div>
                <input type="text" class="form-control search-width-125" placeholder="Search and Filter">    
  
                 
            </div>
            
            <div class="col-lg-2">
                <div class="form-group">
                        <label class="control-label"></label>
                        <div class="clearfix"></div>
                        <div class="search-btns margin-top5 pull-right">
                        <button type="button" class="btn btn-primary margin-right5">Search</button>
                        <button type="button" class="btn btn-default">Reset</button>
                        </div>
                  </div>
                 
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="row">
         <div class="col-md-12">      
           <table class="table table-bordered table-striped">
            <thead>
                  <tr>
                     <th class="text-center">Treatment Center ID<span class="fa fa-caret-up pull-right cursor-pointer"></span> <span class="pull-right cursor-pointer fa fa-caret-down table-sort-down"></span></th> 
                    <th class="text-center">Treatment Center Name<span class="fa fa-caret-up pull-right cursor-pointer"></span> <span class="pull-right cursor-pointer fa fa-caret-down table-sort-down"></span></th> 
                    <th class="text-center">City<span class="fa fa-caret-up pull-right cursor-pointer"></span> <span class="pull-right cursor-pointer fa fa-caret-down table-sort-down"></span></th>
                    <th class="text-center">Country<span class="fa fa-caret-up pull-right cursor-pointer"></span> <span class="pull-right cursor-pointer fa fa-caret-down table-sort-down"></span></th>
                    
                    
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td class="text-center">0001</td>
                    

                    <td class="text-center">Treatment Center001</td>
                    <td class="text-center">Colombo</td>
                    <td class="text-center">Sri Lanka</td>
                    
                   
                    <td class="text-center">
                        <button type="button" class="btn btn-primary action-btn"><span class="fa fa-edit"> </span>Edit</button>
                        <button type="button" class="btn btn-success action-btn"><span class="fa fa-eye"> </span>View</button>
                        <button type="button" class="btn btn-danger action-btn"><span class="fa fa-close"> </span>Delete</button>
                    </td>
                  </tr>
               
                
                 
                </tbody>
              </table>
            </div>      
          </div> 
          
          
<div class="panel-group" id="accordion">
  <div class="panel panel-default" >
    <div class="panel-heading cursorpoint" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
      <h4 class="panel-title" >
        <a class="accordion-toggle">
          Add Treatment Center <i class="indicator fa fa-chevron-down  pull-right"></i>
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse in">
      <div class="panel-body">
        
            <form class="form-horizontal" role="form" id="patient_registration">
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="patientID">Treatment Center ID:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-10">
                      <label class="control-label" for="patientID">TC1000</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="col-lg-6">
               
                  
                  <div class="form-group">
                    <label class="control-label required-label padding-right0 col-sm-4" for="fname">Treatment Center Name:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control required-input" id="fname" placeholder="Enter First Name">
                    </div>
                  </div>
                    
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="addressline1">Address line 01:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control" id="addressline1" placeholder="Enter Address line 01">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label  col-sm-4" for="addressline2">Address line 02:</label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control " id="addressline2" placeholder="Enter Address line 02">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label col-sm-4 required-label" for="city">City:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control required-input" id="city" placeholder="Enter City">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="Province">District:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <select class="form-control required-input" >
                           <option>Select the District</option>
                           <option>Colombo</option>
                       </select>
                    </div>
                  </div>
                  
            </div>

            <div class="col-md-6">
               
               
                  
                  <div class="form-group">
                    <label class="control-label col-sm-4 required-label" for="wnumber">Telephone Number:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control required-input" id="wnumber" placeholder="Enter Work Number">
                    </div>
                  </div>
                   
                   <div class="form-group">
                    <label class="control-label col-sm-4" for="mnumber">Mobile Number:</label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control" id="mnumber" placeholder="Enter Mobile Number">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="emailaddress">Email Address:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      <input type="text" class="form-control required-input" id="emailaddress" placeholder="Enter Email Address">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="province">Province:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      
                      <select class="form-control required-input" >
                           <option>Select the Province</option>
                           <option>Western Province</option>
                       </select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="control-label required-label col-sm-4" for="country">Country:<span class='fa fa-asterisk required-star'></span></label>
                    <div class="col-sm-8"> 
                      
                      <select class="form-control required-input" >
                           <option>Select the Country</option>
                           <option>Sri Lanka</option>
                       </select>
                    </div>
                  </div>
                  
                  
            </div>
            
            <div class="clearfix"></div>
          
           
            
             <div class="col-sm-12">
        
                <div class="form-group"> 
                     <div class="col-sm-12">
                      <button type="submit" class="btn btn-default pull-right">Reset</button>
                      <button type="submit" class="btn btn-primary pull-right margin-right5">Submit</button>
                      
                     </div>
                 <div class="clearfix"></div>
               </div>

                <div class="clearfix"></div>

            </div> 
        
            
            
          
        </div>
        
       
            
       </form>  
         
                  
                  
                  
          </div>         
                  
      </div>
    </div>            
        
       
            
          
            <!-- Blog Post Content Column -->
            
      
               
               
     
        
        
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; xcendant 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <script src="js/script.js"></script> 
    
    <script type="application/javascript">
        
     $('#collapsefour').collapse('hide');
     
    $(document).on('click', '.add-treatmentcenter', function(){

           $('#collapsefour').collapse('show');
           $("body, html").animate({ 
                    scrollTop: $( $(this).attr('href') ).offset().top -140
                }, 500);     
 
            });        
           
function toggleChevron(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('fa-chevron-down fa-chevron-up');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);
    
       
        
    </script>

